/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: $font-family;
  color: $dark-text;
  background-color: $light-background;
  user-select: none;
}

/* Global Styles */
.accent-text-color {
  color: $accent-text;
}
.light-text-color {
  color: $light-text;
}
.dark-text-color {
  color: $dark-text;
}
.box-background {
  background-color: $box-background;
}
.dark-background {
  background-color: $dark-background;
}
.light-background {
  background-color: $light-background;
}
}

/* Responsive Media Queries */
/* Mobile first approach */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // Tablet specific styles
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // Larger tablet specific styles
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // Desktop specific styles
}
