/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: $font-family;
  color: $dark-text;
  background-color: $light-background;
  user-select: none;
}

#app {
  height: auto;
  width: 100vw;
}

/* Global Styles */
.accent-text-color {
  color: $accent-text !important;
}
.secondary-text-color {
  color: $secondary-text !important;
}
.error-text-color {
  color: $error-color !important;
}
.light-text-color {
  color: $light-text !important;
}
.dark-text-color {
  color: $dark-text !important;
}
.box-background {
  background-color: $box-background !important;
}
.dark-background {
  background-color: $dark-background !important;
}
.light-background {
  background-color: $light-background !important;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box-shadow {
  box-shadow: 0px 4px 10px $box-shadow-color !important;
}
.rotate-180 {
  transform: rotate(180deg);
}

.main-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 60px;
  color: $light-text;
  column-gap: 16px;
}

.card-header-title {
  font-size: 30px;
  line-height: 36px;
  color: $dark-text;
}

.input-custom {
  width: 100%;
  padding: 0 16px 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $input-border-color;
  color: $placeholder-color;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-align: center;
  outline: none;

  &::placeholder {
    color: $placeholder-color;
  }

  &:focus {
    border-color: $primary-color;
  }

  &.focused {
    border-color: $primary-color;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Responsive Media Queries */
/* Mobile first approach */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // Tablet specific styles
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // Larger tablet specific styles
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  // Desktop specific styles
}
