/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: $font-family;
  color: $dark-text;
  background-color: $light-background;
  user-select: none;
}

#app {
  height: 100vh;
  width: 100vw;
}

/* Global Styles */
.accent-text-color {
  color: $accent-text;
}
.light-text-color {
  color: $light-text;
}
.dark-text-color {
  color: $dark-text;
}
.box-background {
  background-color: $box-background;
}
.dark-background {
  background-color: $dark-background;
}
.light-background {
  background-color: $light-background;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 60px;
  color: $light-text;
  column-gap: 16px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Responsive Media Queries */
/* Mobile first approach */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // Tablet specific styles
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  // Larger tablet specific styles
}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  // Desktop specific styles
}
