/* Color Variables */
$light-color-base: #fbfbfb;
$dark-color-base: #1e1e1e; // main-dsrk/base
$box-color-light: #fffde7; // extras/box-color-light
$primary-color: #51d289; // complementaries/compl-opt2
$secondary-color: #ffe600; // complementaries/compl-opt1
$error-color: #f44336; // extras/error

$border-dotted-color: #b2b2b2; // main-dsrk/main-10
$border-solid-color: $box-color-light;
$placeholder-color: #a3a3a3; // main-dsrk/main-20
$image-border-color: $primary-color;

/* Background Variables */
$dark-background: $dark-color-base;
$light-background: $light-color-base;
$box-background: $box-color-light;

/* Text Color Variables */
$light-text: $box-color-light;
$dark-text: $dark-color-base;
$accent-text: $primary-color;
$secondary-text: $secondary-color;
$black-text: #000000;
$white-text: #ffffff;
$subtitle-text: $secondary-color;

/* Landing Page Variables */
$landing-image-background: $box-color-light;

/* Progress Bar Variables */
$progress-bar-background: #d2d2d2;
$progress-bar-fill: $primary-color;

/* Input Variables */
$input-border-color: #ffffff;

/* Box Shadow Variables */
$box-shadow-color: rgba($black-text, 0.05);

/* Font Variables */
$font-family: 'Open Sans', sans-serif;
